#loginform{
    width: 250px;
    height: 230px;
    left: 350px;
    top: 400px;
    position: absolute;
    background-color: rgb(219, 219, 219);
    color: grey;
    box-shadow: 0 0 7px 2px;
    border-radius: 10px;
}

